html
  body
    .page
      .panel.panel-default
        .panel-heading
          strong
            span.glyphicon.glyphicon-th
            |  Buttons
        .panel-body
          h4 Buttons Styles
          dl.dl-horizontal
            dt Lined version
            dd
              button.btn.btn-w-md.btn-gap-v.btn-line-default(type='button') Default
              button.btn.btn-w-md.btn-gap-v.btn-line-primary(type='button') Primary
              button.btn.btn-w-md.btn-gap-v.btn-line-success(type='button') Success
              button.btn.btn-w-md.btn-gap-v.btn-line-info(type='button') Info
              button.btn.btn-w-md.btn-gap-v.btn-line-warning(type='button') Warning
              button.btn.btn-w-md.btn-gap-v.btn-line-danger(type='button') Danger
              button.btn.btn-w-md.btn-gap-v.btn-line-dark(type='button') Dark
            .divider
            dt Filled-in version
            dd
              button.btn.btn-w-md.btn-gap-v.btn-default(type='button') Default
              button.btn.btn-w-md.btn-gap-v.btn-primary(type='button') Primary
              button.btn.btn-w-md.btn-gap-v.btn-success(type='button') Success
              button.btn.btn-w-md.btn-gap-v.btn-info(type='button') Info
              button.btn.btn-w-md.btn-gap-v.btn-warning(type='button') Warning
              button.btn.btn-w-md.btn-gap-v.btn-danger(type='button') Danger
              button.btn.btn-w-md.btn-gap-v.btn-dark(type='button') Dark
          h4 Disabled Buttons
          dl.dl-horizontal
            dt Lined version
            dd
              button.btn.btn-w-md.btn-gap-v.btn-line-default(type='button', disabled='') Default
              button.btn.btn-w-md.btn-gap-v.btn-line-primary(type='button', disabled='') Primary
              button.btn.btn-w-md.btn-gap-v.btn-line-success(type='button', disabled='') Success
              button.btn.btn-w-md.btn-gap-v.btn-line-info(type='button', disabled='') Info
              button.btn.btn-w-md.btn-gap-v.btn-line-warning(type='button', disabled='') Warning
              button.btn.btn-w-md.btn-gap-v.btn-line-danger(type='button', disabled='') Danger
              button.btn.btn-w-md.btn-gap-v.btn-line-dark(type='button', disabled='') Dark
            .divider
            dt Filled-in version
            dd
              button.btn.btn-w-md.btn-gap-v.btn-default(type='button', disabled='') Default
              button.btn.btn-w-md.btn-gap-v.btn-primary(type='button', disabled='') Primary
              button.btn.btn-w-md.btn-gap-v.btn-success(type='button', disabled='') Success
              button.btn.btn-w-md.btn-gap-v.btn-info(type='button', disabled='') Info
              button.btn.btn-w-md.btn-gap-v.btn-warning(type='button', disabled='') Warning
              button.btn.btn-w-md.btn-gap-v.btn-danger(type='button', disabled='') Danger
              button.btn.btn-w-md.btn-gap-v.btn-dark(type='button', disabled='') Dark
      .panel.panel-default
        .panel-heading
          strong
            span.glyphicon.glyphicon-th
            |  Button Width
        .panel-body.text-center
          p
            button.btn.btn-primary.btn-w-xs(type='button') xs
            button.btn.btn-primary.btn-w-sm(type='button') small
            button.btn.btn-primary.btn-w-md(type='button') middle
            button.btn.btn-primary.btn-w-lg(type='button') large
          p
            button.btn.btn-default.btn-w-xs(type='button') xs
            button.btn.btn-default.btn-w-sm(type='button') small
            button.btn.btn-default.btn-w-md(type='button') middle
            button.btn.btn-default.btn-w-lg(type='button') large
          p
            button.btn.btn-success.btn-w-xs(type='button') xs
            button.btn.btn-warning.btn-w-sm(type='button') small
            button.btn.btn-danger.btn-w-md(type='button') middle
            button.btn.btn-info.btn-w-lg(type='button') large
      .panel.panel-default
        .panel-heading
          strong
            span.glyphicon.glyphicon-th
            |  Button Sizes
        .panel-body.text-center
          p
            button.btn.btn-primary.btn-lg(type='button') Large button
            button.btn.btn-primary(type='button') Default button
            button.btn.btn-primary.btn-sm(type='button') Small button
            button.btn.btn-primary.btn-xs(type='button') Extra small button
          p
            button.btn.btn-default.btn-lg(type='button') Large button
            button.btn.btn-default(type='button') Default button
            button.btn.btn-default.btn-sm(type='button') Small button
            button.btn.btn-default.btn-xs(type='button') Extra small button
          p
            button.btn.btn-success.btn-lg(type='button') Large button
            button.btn.btn-info(type='button') Default button
            button.btn.btn-warning.btn-sm(type='button') Small button
            button.btn.btn-danger.btn-xs(type='button') Extra small button
      .panel.panel-default
        .panel-heading
          strong
            span.glyphicon.glyphicon-th
            |  Button with direction
        .panel-body.text-center
          .row
            .col-md-4
              p
                a.btn.btn-w-md.btn-primary.btn-direction.btn-up(href='javascript:;') Up
              p
                a.btn.btn-w-md.btn-success.btn-direction.btn-up(href='javascript:;') Up
              p
                a.btn.btn-w-md.btn-info.btn-direction.btn-up(href='javascript:;') Up
              p
                a.btn.btn-w-md.btn-warning.btn-direction.btn-up(href='javascript:;') Up
              p
                a.btn.btn-w-md.btn-danger.btn-direction.btn-up(href='javascript:;') Up
            .col-md-4
              p
                a.btn.btn-primary.btn-direction.btn-left(href='javascript:;') Left
                a.btn.btn-primary.btn-direction(href='javascript:;') Middle
                a.btn.btn-primary.btn-direction.btn-right(href='javascript:;') RIght
              p
                a.btn.btn-default.btn-direction.btn-left(href='javascript:;') Left
                a.btn.btn-default.btn-direction(href='javascript:;') Middle
                a.btn.btn-default.btn-direction.btn-right(href='javascript:;') RIght
              p
                a.btn.btn-success.btn-direction.btn-left(href='javascript:;') Left
                a.btn.btn-info.btn-direction(href='javascript:;') Middle
                a.btn.btn-danger.btn-direction.btn-right(href='javascript:;') RIght
              p
                a.btn.btn-warning.btn-direction.btn-left(href='javascript:;') Left
                a.btn.btn-success.btn-direction(href='javascript:;') Middle
                a.btn.btn-info.btn-direction.btn-right(href='javascript:;') RIght
              p
                a.btn.btn-info.btn-direction.btn-left(href='javascript:;') Left
                a.btn.btn-danger.btn-direction(href='javascript:;') Middle
                a.btn.btn-success.btn-direction.btn-right(href='javascript:;') RIght
            .col-md-4
              p
                a.btn.btn-w-md.btn-primary.btn-direction.btn-down(href='javascript:;') Down
              p
                a.btn.btn-w-md.btn-success.btn-direction.btn-down(href='javascript:;') Down
              p
                a.btn.btn-w-md.btn-info.btn-direction.btn-down(href='javascript:;') Down
              p
                a.btn.btn-w-md.btn-warning.btn-direction.btn-down(href='javascript:;') Down
              p
                a.btn.btn-w-md.btn-danger.btn-direction.btn-down(href='javascript:;') Down
        .panel.panel-default
          .panel-heading
            strong
              span.glyphicon.glyphicon-th
              |  Metro Buttons
          .panel-body.text-center
            p
              a.btn.btn-primary.btn-metro(href='javascript:;')
                i.fa.fa-flask
              a.btn.btn-info.btn-metro(href='javascript:;')
                i.fa.fa-pencil
                span Note
              a.btn.btn-success.btn-metro(href='javascript:;')
                i.fa.fa-lock
                span Lock
              a.btn.btn-warning.btn-metro(href='javascript:;')
                i.fa.fa-code
                span Development
              a.btn.btn-danger.btn-metro(href='javascript:;')
                i.fa.fa-magic
                span Magic
        .panel.panel-default
          .panel-heading
            strong
              span.glyphicon.glyphicon-th
              |  Block buttons
          .panel-body
            button.btn.btn-default.btn-block(type='button') Default
            button.btn.btn-primary.btn-block(type='button') Primary
            button.btn.btn-success.btn-block(type='button') Success
            button.btn.btn-info.btn-block(type='button') Info
            button.btn.btn-warning.btn-block(type='button') Warning
            button.btn.btn-danger.btn-block(type='button') Danger
            button.btn.btn-inverse.btn-block(type='button') Inverse
        .panel.panel-default
          .panel-heading
            strong
              span.glyphicon.glyphicon-th
              |  Button groups
          .panel-body
            .row
              .col-md-6
                h5 Button Group
                .btn-group
                  button.btn.btn-line-primary(type='button') Left
                  button.btn.btn-line-primary(type='button') Middle
                  button.btn.btn-line-primary(type='button') Right
                .space
                .btn-group
                  button.btn.btn-primary(type='button') Left
                  button.btn.btn-primary(type='button') Middle
                  button.btn.btn-primary(type='button') Right
                h5 Button toolbar
                .btn-toolbar(role='toolbar')
                  .btn-group
                    button.btn.btn-default(type='button') 1
                    button.btn.btn-default(type='button') 2
                    button.btn.btn-default(type='button') 3
                    button.btn.btn-default(type='button') 4
                  .btn-group
                    button.btn.btn-default(type='button') 5
                    button.btn.btn-default(type='button') 6
                    button.btn.btn-default(type='button') 7
                  .btn-group
                    button.btn.btn-default(type='button') 8
                h5 Sizing
                .btn-toolbar(role='toolbar')
                  .btn-group.btn-group-lg
                    button.btn.btn-primary(type='button') Left
                    button.btn.btn-primary(type='button') Middle
                    button.btn.btn-primary(type='button') Right
              .col-md-6
                h5 Nesting
                .btn-group
                  button.btn.btn-default(type='button') 1
                  button.btn.btn-default(type='button') 2
                  .btn-group
                    button#btnGroupDrop1.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
                      | Dropdown
                      span.caret
                    ul.dropdown-menu(role='menu', aria-labelledby='btnGroupDrop1')
                      li
                        a(href='javascript:;') Dropdown link
                      li
                        a(href='javascript:;') Dropdown link
                h5 Vertical variation
                .btn-group-vertical
                  button.btn.btn-default(type='button') Top
                  button.btn.btn-default(type='button') Middle
                  button.btn.btn-default(type='button') Bottom
            h5.text-center Justified link variation
            .btn-group.btn-group-justified
              a.btn.btn-default(role='button') Left
              a.btn.btn-default(role='button') Middle
              a.btn.btn-default(role='button') Right
            br
            .btn-group.btn-group-justified
              a.btn.btn-info(role='button') Left
              a.btn.btn-success(role='button') Middle
              a.btn.btn-warning(role='button') Right
            br
            .btn-group.btn-group-justified
              a.btn.btn-success(role='button') Left
              a.btn.btn-info(role='button') Middle
              a.btn.btn-warning(role='button') Middle
              a.btn.btn-danger(role='button') Right
        .panel.panel-default
          .panel-heading
            strong
              span.glyphicon.glyphicon-th
              |  Button with icons
          .panel-body
            .row
              .col-md-6
                h5.text-center Button with icons
                button.btn.btn-primary
                  span.glyphicon.glyphicon-arrow-down
                  |  Go down
                button.btn.btn-success
                  span.glyphicon.glyphicon-briefcase
                  |  Briefcase
                button.btn.btn-info
                  span.glyphicon.glyphicon-calendar
                  |  Calendar
                button.btn.btn-default
                  span.glyphicon.glyphicon-camera
                  |  Camera
                button.btn.btn-danger
                  span.glyphicon.glyphicon-off
                  |  Off
                .divider
                h5.text-center Social buttons
                a.btn.btn-default.btn-twitter(href='javascript:;')
                  i.fa.fa-twitter
                  |  Twitter
                a.btn.btn-default.btn-facebook(href='javascript:;')
                  i.fa.fa-facebook
                  |  Facebook
                a.btn.btn-default.btn-gplus(href='javascript:;')
                  i.fa.fa-google-plus
                  |  Google+
              .col-md-6
                h5.text-center Icon buttons
                p
                  a.btn-icon.btn-icon-sm.btn-twitter(href='javascript:;')
                    i.fa.fa-twitter
                  a.btn-icon.btn-icon-sm.btn-facebook(href='javascript:;')
                    i.fa.fa-facebook
                  a.btn-icon.btn-icon-sm.btn-google-plus(href='javascript:;')
                    i.fa.fa-google-plus
                  a.btn-icon.btn-icon-sm.btn-pinterest(href='javascript:;')
                    i.fa.fa-pinterest
                  a.btn-icon.btn-icon-sm.btn-instagram(href='javascript:;')
                    i.fa.fa-instagram
                  a.btn-icon.btn-icon-sm.btn-rss(href='javascript:;')
                    i.fa.fa-rss
                  a.btn-icon.btn-icon-sm.btn-tumblr(href='javascript:;')
                    i.fa.fa-tumblr
                  a.btn-icon.btn-icon-sm.btn-linkedin(href='javascript:;')
                    i.fa.fa-linkedin
                  a.btn-icon.btn-icon-sm.btn-dribbble(href='javascript:;')
                    i.fa.fa-dribbble
                  a.btn-icon.btn-icon-sm.btn-youtube(href='javascript:;')
                    i.fa.fa-youtube
                  a.btn-icon.btn-icon-sm.btn-github(href='javascript:;')
                    i.fa.fa-github
                  a.btn-icon.btn-icon-sm.btn-skype(href='javascript:;')
                    i.fa.fa-skype
                  a.btn-icon.btn-icon-sm.btn-viemo(href='javascript:;')
                    i.fa.fa-viemo
                p
                  a.btn-icon.btn-icon-sm.bg-primary(href='javascript:;')
                    i.fa.fa-bell
                  a.btn-icon.btn-icon-sm.bg-success(href='javascript:;')
                    i.fa.fa-cloud
                  a.btn-icon.btn-icon-sm.bg-info(href='javascript:;')
                    i.fa.fa-inbox
                  a.btn-icon.btn-icon-sm.bg-warning(href='javascript:;')
                    i.fa.fa-mail-reply
                  a.btn-icon.btn-icon-sm.bg-danger(href='javascript:;')
                    i.fa.fa-rocket
        .panel.panel-default
          .panel-heading
            strong
              span.glyphicon.glyphicon-th
              |  Button dropdowns
          .panel-body
            .btn-group
              button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
                | Action 
                span.caret
              ul.dropdown-menu(role='menu')
                li
                  a(href='javascript:;') Action
                li
                  a(href='javascript:;') Another action
                li
                  a(href='javascript:;') Something else here
                li.divider
                li
                  a(href='javascript:;') Separated link
            .btn-group
              button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
                | Action 
                span.caret
              ul.dropdown-menu(role='menu')
                li
                  a(href='javascript:;') Action
                li
                  a(href='javascript:;') Another action
                li
                  a(href='javascript:;') Something else here
                li.divider
                li
                  a(href='javascript:;') Separated link
            .btn-group
              button.btn.btn-success.dropdown-toggle(type='button', data-toggle='dropdown')
                | Action 
                span.caret
              ul.dropdown-menu(role='menu')
                li
                  a(href='javascript:;') Action
                li
                  a(href='javascript:;') Another action
                li
                  a(href='javascript:;') Something else here
                li.divider
                li
                  a(href='javascript:;') Separated link
            .btn-group
              button.btn.btn-info.dropdown-toggle(type='button', data-toggle='dropdown')
                | Action 
                span.caret
              ul.dropdown-menu(role='menu')
                li
                  a(href='javascript:;') Action
                li
                  a(href='javascript:;') Another action
                li
                  a(href='javascript:;') Something else here
                li.divider
                li
                  a(href='javascript:;') Separated link
            .btn-group
              button.btn.btn-warning.dropdown-toggle(type='button', data-toggle='dropdown')
                | Action 
                span.caret
              ul.dropdown-menu(role='menu')
                li
                  a(href='javascript:;') Action
                li
                  a(href='javascript:;') Another action
                li
                  a(href='javascript:;') Something else here
                li.divider
                li
                  a(href='javascript:;') Separated link
            .btn-group
              button.btn.btn-danger.dropdown-toggle(type='button', data-toggle='dropdown')
                | Action 
                span.caret
              ul.dropdown-menu(role='menu')
                li
                  a(href='javascript:;') Action
                li
                  a(href='javascript:;') Another action
                li
                  a(href='javascript:;') Something else here
                li.divider
                li
                  a(href='javascript:;') Separated link
            .btn-group
              button.btn.btn-dark.dropdown-toggle(type='button', data-toggle='dropdown')
                | Action 
                span.caret
              ul.dropdown-menu(role='menu')
                li
                  a(href='javascript:;') Action
                li
                  a(href='javascript:;') Another action
                li
                  a(href='javascript:;') Something else here
                li.divider
                li
                  a(href='javascript:;') Separated link
            h5 Dropup variation
            .btn-group.dropup
              button.btn.btn-default(type='button') Dropup
              button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
                span.caret
                span.sr-only Toggle Dropdown
              ul.dropdown-menu
                li
                  a(href='javascript:;') Action
                li
                  a(href='javascript:;') Another action
                li
                  a(href='javascript:;') Something else here
                li.divider
                li
                  a(href='javascript:;') Separated link
            .btn-group.dropup
              button.btn.btn-primary(type='button') Right Dropup
              button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
                span.caret
                span.sr-only Toggle Dropdown
              ul.dropdown-menu.pull-right
                li
                  a(href='javascript:;') Action
                li
                  a(href='javascript:;') Another action
                li
                  a(href='javascript:;') Something else here
                li.divider
                li
                  a(href='javascript:;') Separated link
