html
  body
    .page
      //
        <div class="panel panel-default">
        <div class="panel-heading"><span class="glyphicon glyphicon-th"></span> Example</div>
        <div class="panel-body">
        </div>
        </div>
      // Notfify
      section.panel.panel-default
        .panel-heading
          span.glyphicon.glyphicon-th
          |  Notify
        .panel-body(data-ng-controller='NotifyCtrl')
          button.btn.btn-w-md.btn-gap.btn-info(data-ng-click="notify('info')") info message
          button.btn.btn-w-md.btn-gap.btn-success(data-ng-click="notify('success')") success message
          button.btn.btn-w-md.btn-gap.btn-warning(data-ng-click="notify('warning')") warning message
          button.btn.btn-w-md.btn-gap.btn-danger(data-ng-click="notify('error')") error message
          .callout.callout-info
            p Notification will show in lower right corner.
      // end Notify
      // Ribbons
      .panel.panel-default
        .panel-heading
          span.glyphicon.glyphicon-th
          |  Ribbons
        .panel-body
          .row
            .col-md-4
              .panel.panel-default.ui-ribbon-container
                .ui-ribbon-wrapper
                  .ui-ribbon
                    | 30% Off
                .panel-heading
                  span.glyphicon.glyphicon-th
                  |  Ribbon
                .panel-body
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti rerum reprehenderit ipsam natus saepe. Recusandae, itaque nulla in illum dolorum ea eveniet quaerat ipsa placeat magni commodi obcaecati mollitia necessitatibus?
            .col-md-4
              .panel.panel-default.ui-ribbon-container.ui-ribbon-primary
                .ui-ribbon-wrapper
                  .ui-ribbon
                    | 30% Off
                .panel-heading
                  span.glyphicon.glyphicon-th
                  |  Ribbon-primary
                .panel-body
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti rerum reprehenderit ipsam natus saepe. Recusandae, itaque nulla in illum dolorum ea eveniet quaerat ipsa placeat magni commodi obcaecati mollitia necessitatibus?
            .col-md-4
              .panel.panel-default.ui-ribbon-container.ui-ribbon-success
                .ui-ribbon-wrapper
                  .ui-ribbon
                    | 30% Off
                .panel-heading
                  span.glyphicon.glyphicon-th
                  |  Ribbon-success
                .panel-body
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti rerum reprehenderit ipsam natus saepe. Recusandae, itaque nulla in illum dolorum ea eveniet quaerat ipsa placeat magni commodi obcaecati mollitia necessitatibus?
          .row
            .col-md-4
              .panel.panel-default.ui-ribbon-container.ui-ribbon-info
                .ui-ribbon-wrapper
                  .ui-ribbon
                    | 30% Off
                .panel-heading
                  span.glyphicon.glyphicon-th
                  |  Ribbon-info
                .panel-body
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti rerum reprehenderit ipsam natus saepe. Recusandae, itaque nulla in illum dolorum ea eveniet quaerat ipsa placeat magni commodi obcaecati mollitia necessitatibus?
            .col-md-4
              .panel.panel-default.ui-ribbon-container.ui-ribbon-warning
                .ui-ribbon-wrapper
                  .ui-ribbon
                    | 30% Off
                .panel-heading
                  span.glyphicon.glyphicon-th
                  |  Ribbon-warning
                .panel-body
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti rerum reprehenderit ipsam natus saepe. Recusandae, itaque nulla in illum dolorum ea eveniet quaerat ipsa placeat magni commodi obcaecati mollitia necessitatibus?
            .col-md-4
              .panel.panel-default.ui-ribbon-container.ui-ribbon-danger
                .ui-ribbon-wrapper
                  .ui-ribbon
                    | 30% Off
                .panel-heading
                  span.glyphicon.glyphicon-th
                  |  Ribbon-danger
                .panel-body
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti rerum reprehenderit ipsam natus saepe. Recusandae, itaque nulla in illum dolorum ea eveniet quaerat ipsa placeat magni commodi obcaecati mollitia necessitatibus?
      // end Ribbons
      // Progressbar
      section.panel.panel-default
        .panel-heading
          span.glyphicon.glyphicon-th
          |  Progressbar
        .panel-body(data-ng-controller='ProgressDemoCtrl')
          .page-header
            h3 Static Progressbar
          progressbar.progressbar-sm(value='34', type='success')
          progressbar.progressbar-sm(value='68', type='info')
          progressbar.progressbar-sm(value='52', type='warning')
          progressbar.progressbar-sm(value='77', type='danger')
          p.text-muted Stacked Progress Bars
          progress.progressbar-sm
            bar(value='40', type='success')
            bar(value='20', type='warning')
            bar(value='20', type='danger')
          .page-header
            h3 Striped Progressbar
          progressbar.progressbar-sm.progress-striped(value='34', type='success')
          progressbar.progressbar-sm.progress-striped(value='68', type='info')
          progressbar.progressbar-sm.progress-striped(value='52', type='warning')
          progressbar.progressbar-sm.progress-striped(value='77', type='danger')
          p.text-muted Animated Progress Bars
          progressbar.progressbar-sm.progress-striped.active(value='55')
          progress.progressbar-sm.progress-striped.active
            bar(value='40', type='success')
            bar(value='20', type='warning')
            bar(value='20', type='danger')
          .page-header
            h3 Dynamic Progressbar
          progressbar(max='max', value='dynamic')
            span {{dynamic}} / {{max}}
          p.text-muted No animation
          progressbar(animate='false', value='dynamic', type='success')
            b {{dynamic}}%
          p.text-muted
            | Object 
            em (changes type based on value)
          progressbar.progress-striped.active(value='dynamic', type='{{type}}')
            | {{type}} 
            i(ng-show='showWarning') !!! Watch out !!!
          .divider
          button.btn.btn-sm.btn-primary(type='button', ng-click='random()') Randomize
      // end Progressbar
      // Tab
      section.panel.panel-default
        .panel-heading
          span.glyphicon.glyphicon-th
          |  Tabs
        .panel-body(data-ng-controller='TabsDemoCtrl')
          .row
            .col-sm-6
              h3 Simple Tabs
              .divider
              tabset.ui-tab
                tab(heading='Static title')
                  | Static content here. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, quidem, officiis, et ex laudantium sed cupiditate voluptatum libero nobis sit illum voluptates beatae ab. Ad, repellendus non sequi et at.
                tab(ng-repeat='tab in tabs', heading='{{tab.title}}', active='tab.active', disabled='tab.disabled')
                  | {{tab.content}}
              h3 Panel Tabs
              .divider
              .ui-tab-container
                tabset.ui-tab
                  tab(heading='Home')
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, aspernatur, eum fugit officiis numquam iste aut illo quos pariatur Eligendi, veniam, accusamus.
                  tab(heading='Quod ea')
                    | Quod ea vel dolores earum veritatis quae sunt tempore odit molestias sit optio quaerat cupiditate iure repudiandae illum doloremque consectetur incidunt!
                  tab(heading='Earum sequi')
                    | Blanditiis tenetur harum distinctio voluptate asperiores non magnam delectus. Consequatur, deleniti rem magnam possimus necessitatibus iusto suscipit mollitia rerum.
            .col-sm-6
              h3 Justified Tabs
              .divider
              tabset.ui-tab(justified='true')
                tab(heading='Justified') Justified content
                tab(heading='SJ') Short Labeled Justified content
                tab(heading='Long Justified') Long Labeled Justified content
              .divider.divider-md
              h3 Justified Panel Tabs
              .divider
              .ui-tab-container
                tabset.ui-tab(justified='true')
                  tab(heading='Justified') Justified content
                  tab(heading='SJ') Short Labeled Justified content
                  tab(heading='Long Justified') Long Labeled Justified content
          hr
          .row
            .col-md-6
              .ui-tab-container.ui-tab-success
                tabset.ui-tab
                  tab(heading='Home')
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, aspernatur, eum fugit officiis numquam iste aut illo quos pariatur Eligendi, veniam, accusamus.
                  tab(heading='Quod ea')
                    | Quod ea vel dolores earum veritatis quae sunt tempore odit molestias sit optio quaerat cupiditate iure repudiandae illum doloremque consectetur incidunt!
                  tab(heading='Earum sequi')
                    | Blanditiis tenetur harum distinctio voluptate asperiores non magnam delectus. Consequatur, deleniti rem magnam possimus necessitatibus iusto suscipit mollitia rerum.
            .col-md-6
              .ui-tab-container.ui-tab-info
                tabset.ui-tab
                  tab(heading='Home')
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, aspernatur, eum fugit officiis numquam iste aut illo quos pariatur Eligendi, veniam, accusamus.
                  tab(heading='Quod ea')
                    | Quod ea vel dolores earum veritatis quae sunt tempore odit molestias sit optio quaerat cupiditate iure repudiandae illum doloremque consectetur incidunt!
                  tab(heading='Earum sequi')
                    | Blanditiis tenetur harum distinctio voluptate asperiores non magnam delectus. Consequatur, deleniti rem magnam possimus necessitatibus iusto suscipit mollitia rerum.
          br
          .row
            .col-md-6
              .ui-tab-container.ui-tab-warning
                tabset.ui-tab
                  tab(heading='Home')
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, aspernatur, eum fugit officiis numquam iste aut illo quos pariatur Eligendi, veniam, accusamus.
                  tab(heading='Quod ea')
                    | Quod ea vel dolores earum veritatis quae sunt tempore odit molestias sit optio quaerat cupiditate iure repudiandae illum doloremque consectetur incidunt!
                  tab(heading='Earum sequi')
                    | Blanditiis tenetur harum distinctio voluptate asperiores non magnam delectus. Consequatur, deleniti rem magnam possimus necessitatibus iusto suscipit mollitia rerum.
            .col-md-6
              .ui-tab-container.ui-tab-danger
                tabset.ui-tab
                  tab(heading='Home')
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, aspernatur, eum fugit officiis numquam iste aut illo quos pariatur Eligendi, veniam, accusamus.
                  tab(heading='Quod ea')
                    | Quod ea vel dolores earum veritatis quae sunt tempore odit molestias sit optio quaerat cupiditate iure repudiandae illum doloremque consectetur incidunt!
                  tab(heading='Earum sequi')
                    | Blanditiis tenetur harum distinctio voluptate asperiores non magnam delectus. Consequatur, deleniti rem magnam possimus necessitatibus iusto suscipit mollitia rerum.
      // end Tab
      // Accordion
      section.panel.panel-default
        .panel-heading
          span.glyphicon.glyphicon-th
          |  Accordion or Collapse
        .panel-body(data-ng-controller='AccordionDemoCtrl')
          p Open only one at a time?
          label.switch.switch-success
            input(type='checkbox', ng-model='oneAtATime')
            i
          hr
          accordion.ui-accordion(close-others='oneAtATime')
            accordion-group(heading='Static Header, initially expanded', is-open='true')
              | This content is straight in the template.
            accordion-group(heading='{{group.title}}', ng-repeat='group in groups')
              | {{group.content}}
          hr
          .row
            .col-md-6
              accordion.ui-accordion.ui-accordion-success(close-others='oneAtATime')
                accordion-group(heading='Consectetur adipisicing elit', is-open='true')
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, totam, iusto, quibusdam, voluptates ullam consequuntur facilis odio magni error fugit architecto a.
                accordion-group(heading='Temporibus consequatur vel veritatis', is-open='false')
                  | Asperiores, natus error eveniet velit id labore quo necessitatibus. Voluptatum, eaque, vel explicabo nobis nulla quasi veritatis reprehenderit quam pariatur culpa magni perferendis voluptas quas.
                accordion-group(heading='Vel veritatis corrupti minima', is-open='false')
                  | Ab, unde, quasi harum voluptatum voluptate quaerat repudiandae doloremque aut deserunt laborum nisi fugit maiores ex vero quisquam dignissimos recusandae reprehenderit sint illum?
            .col-md-6
              accordion.ui-accordion.ui-accordion-info(close-others='oneAtATime')
                accordion-group(heading='Consectetur adipisicing elit', is-open='false')
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, totam, iusto, quibusdam, voluptates ullam consequuntur facilis odio magni error fugit architecto a.
                accordion-group(heading='Temporibus consequatur vel veritatis', is-open='true')
                  | Asperiores, natus error eveniet velit id labore quo necessitatibus. Voluptatum, eaque, vel explicabo nobis nulla quasi veritatis reprehenderit quam pariatur culpa magni perferendis voluptas quas.
                accordion-group(heading='Vel veritatis corrupti minima', is-open='false')
                  | Ab, unde, quasi harum voluptatum voluptate quaerat repudiandae doloremque aut deserunt laborum nisi fugit maiores ex vero quisquam dignissimos recusandae reprehenderit sint illum?
          .row
            .col-md-6
              accordion.ui-accordion.ui-accordion-warning(close-others='oneAtATime')
                accordion-group(heading='Consectetur adipisicing elit', is-open='false')
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, totam, iusto, quibusdam, voluptates ullam consequuntur facilis odio magni error fugit architecto a.
                accordion-group(heading='Temporibus consequatur vel veritatis', is-open='false')
                  | Asperiores, natus error eveniet velit id labore quo necessitatibus. Voluptatum, eaque, vel explicabo nobis nulla quasi veritatis reprehenderit quam pariatur culpa magni perferendis voluptas quas.
                accordion-group(heading='Vel veritatis corrupti minima', is-open='true')
                  | Ab, unde, quasi harum voluptatum voluptate quaerat repudiandae doloremque aut deserunt laborum nisi fugit maiores ex vero quisquam dignissimos recusandae reprehenderit sint illum?
            .col-md-6
              accordion.ui-accordion.ui-accordion-danger(close-others='oneAtATime')
                accordion-group(heading='Consectetur adipisicing elit', is-open='true')
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, totam, iusto, quibusdam, voluptates ullam consequuntur facilis odio magni error fugit architecto a.
                accordion-group(heading='Temporibus consequatur vel veritatis', is-open='false')
                  | Asperiores, natus error eveniet velit id labore quo necessitatibus. Voluptatum, eaque, vel explicabo nobis nulla quasi veritatis reprehenderit quam pariatur culpa magni perferendis voluptas quas.
                accordion-group(heading='Vel veritatis corrupti minima', is-open='false')
                  | Ab, unde, quasi harum voluptatum voluptate quaerat repudiandae doloremque aut deserunt laborum nisi fugit maiores ex vero quisquam dignissimos recusandae reprehenderit sint illum?
      // end Accordion
      .row
        .col-md-6
          // Popover
          section.panel.panel-default
            .panel-heading
              span.glyphicon.glyphicon-th
              |  Popover
            .panel-body.text-center
              button.btn.btn-w-lg.btn-primary.btn-gap(popover-placement='top', popover-title='The title.', popover='On the Top!', popover-append-to-body='true') Popover on Top
              br
              button.btn.btn-w-lg.btn-info.btn-gap(popover-placement='right', popover-title='The title.', popover='On the Right!', popover-append-to-body='true') Popover on Right
              br
              button.btn.btn-w-lg.btn-success.btn-gap(popover-placement='bottom', popover-title='The title.', popover='On the Bottom!', popover-append-to-body='true') Popover on Bottom
              br
              button.btn.btn-w-lg.btn-warning.btn-gap(popover-placement='left', popover-title='The title.', popover='On the Left!', popover-append-to-body='true') Popover on Left
              br
              button.btn.btn-w-lg.btn-danger.btn-gap(popover='On mouse enter!', popover-trigger='mouseenter') Popover on Mouseenter
              input.form-control(type='text', value='Popover on Click', popover="I appeared on focus! Click away and I'll vanish...", popover-trigger='focus')
          // Popover
        .col-md-6
          // Tooltip
          section.panel.panel-default
            .panel-heading
              span.glyphicon.glyphicon-th
              |  Tooltip
            .panel-body.text-center
              button.btn.btn-w-lg.btn-default.btn-gap(tooltip-placement='top', tooltip='On the Top!', tooltip-append-to-body='true') Tooltip on Top
              br
              button.btn.btn-w-lg.btn-primary.btn-gap(tooltip-placement='left', tooltip='On the Left!', tooltip-append-to-body='true') Tooltip on Left
              br
              button.btn.btn-w-lg.btn-success.btn-gap(tooltip-placement='right', tooltip='On the Right!', tooltip-append-to-body='true') Tooltip on Right
              br
              button.btn.btn-w-lg.btn-info.btn-gap(tooltip-placement='bottom', tooltip='On the Bottom!', tooltip-append-to-body='true') Tooltip on Bottom
              br
              button.btn.btn-w-lg.btn-warning.btn-gap(tooltip-popup-delay='1000', tooltip='appears with delay', tooltip-append-to-body='true') Tooltip Delayed
              br
              button.btn.btn-w-lg.btn-danger.btn-gap(tooltip-animation='false', tooltip="I don't fade. :-(", tooltip-append-to-body='true') Tooltip without Animation
          // end Tooltip
      .row
        .col-md-6
          // Labels
          section.panel.panel-default
            .panel-heading
              span.glyphicon.glyphicon-th
              |  Labels
            .panel-body.text-center
              p.text-muted Labels
              span.label.label-default Default label
              .space
              span.label.label-primary Primary
              .space
              span.label.label-success Success
              .space
              span.label.label-info Info
              .space
              span.label.label-warning Warning
              .space
              span.label.label-danger Danger
              .divider
              p.text-muted Badges
              span.badge 7
              .space
              span.badge.badge-primary 1
              .space
              span.badge.badge-success 2
              .space
              span.badge.badge-info 4
              .space
              span.badge.badge-warning 8
              .space
              span.badge.badge-danger 16
          // end Labels
          // Modal
          section.panel.panel-default
            .panel-heading
              span.glyphicon.glyphicon-th
              |  Modal
            .panel-body(data-ng-controller='ModalDemoCtrl')
              script#myModalContent.html(type='text/ng-template').
                <div class="modal-header">
                <h3>I am a modal!</h3>
                </div>
                <div class="modal-body">
                <span ng-repeat="item in items" class="list-unstyled">
                <label class="ui-radio"><input name="radio1" type="radio" value="{{ item }}"  ng-checked="selected.item === item" ng-click="selected.item = item"><span>{{ item }}</span></label>
                </span>
                <br>
                Selected: <b>{{ selected.item }}</b>
                </div>
                <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">OK</button>
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                </div>
              button.btn.btn-primary(ng-click='open()') Open me!
              .divider
              .callout.callout-info(ng-show='selected')
                p Selection from a modal: {{ selected }}
          // end Modal
        .col-md-6
          // Collapse
          section.panel.panel-default
            .panel-heading
              span.glyphicon.glyphicon-th
              |  Collapse
            .panel-body(data-ng-controller='CollapseDemoCtrl')
              button.btn.btn-primary(ng-click='isCollapsed = !isCollapsed') Toggle collapse
              hr
              div(collapse='isCollapsed')
                .well.well-lg Some content
          // end Collapse
      // Panels
      section.panel.panel-default
        .panel-heading
          span.glyphicon.glyphicon-th
          |  Panels
        .panel-body
          .panel.panel-default
            .panel-heading
              h3.panel-title Panel title
            .panel-body
              | Panel content
          .panel.panel-default
            .panel-body
              | Panel content
            .panel-footer Panel footer
          .panel.panel-dark
            .panel-heading
              h3.panel-title Panel title
            .panel-body
              | Panel content
          .panel.panel-primary
            .panel-heading
              h3.panel-title Panel title
            .panel-body
              | Panel content
          .panel.panel-success
            .panel-heading
              h3.panel-title Panel title
            .panel-body
              | Panel content
          .panel.panel-info
            .panel-heading
              h3.panel-title Panel title
            .panel-body
              | Panel content
          .panel.panel-warning
            .panel-heading
              h3.panel-title Panel title
            .panel-body
              | Panel content
          .panel.panel-danger
            .panel-heading
              h3.panel-title Panel title
            .panel-body
              | Panel content
      // end Panels
      // Pagination
      section.panel.panel-default
        .panel-heading
          span.glyphicon.glyphicon-th
          |  Pagination
        .panel-body(data-ng-controller='PaginationDemoCtrl')
          .page-header
            h3 Pagination sizing
          pagination.pagination-lg(total-items='totalItems', page='currentPage')
          br
          pagination(boundary-links='true', total-items='totalItems', page='currentPage', previous-text='‹', next-text='›', first-text='«', last-text='»')
          br
          pagination.pagination-sm(direction-links='false', total-items='totalItems', page='currentPage', num-pages='smallnumPages')
          .callout.callout-info
            p The selected page no: {{currentPage}}
          button.btn.btn-primary(ng-click='setPage(3)') Set current page to: 3
          .page-header
            h3 Limit the maximum visible buttons
          pagination.pagination-sm(total-items='bigTotalItems', page='bigCurrentPage', max-size='maxSize', boundary-links='true')
          br
          pagination.pagination-sm(total-items='bigTotalItems', page='bigCurrentPage', max-size='maxSize', boundary-links='true', rotate='false', num-pages='numPages')
          .callout.callout-info
            p Page: {{bigCurrentPage}} / {{numPages}}
      // end Pagination
      // Callout
      section.panel.panel-default
        .panel-heading
          span.glyphicon.glyphicon-th
          |  Callout
        .panel-body
          .callout.callout-success
            h4 Callout heading
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, alias, in accusantium totam adipisci vel et suscipit quidem libero pariatur minus ratione quo doloremque error at nemo incidunt dicta quia?
          .callout.callout-info
            h4 Callout heading
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, alias, in accusantium totam adipisci vel et suscipit quidem libero pariatur minus ratione quo doloremque error at nemo incidunt dicta quia?
          .callout.callout-warning
            h4 Callout heading
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, alias, in accusantium totam adipisci vel et suscipit quidem libero pariatur minus ratione quo doloremque error at nemo incidunt dicta quia?
          .callout.callout-danger
            h4 Callout heading
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, alias, in accusantium totam adipisci vel et suscipit quidem libero pariatur minus ratione quo doloremque error at nemo incidunt dicta quia?
      // end Callout
      // Alert
      section.panel.panel-default
        .panel-heading
          span.glyphicon.glyphicon-th
          |  Alerts
        .panel-body(data-ng-controller='AlertDemoCtrl')
          alert(ng-repeat='alert in alerts', type='alert.type', close='closeAlert($index)') {{alert.msg}}
          button.btn.btn-primary(ng-click='addAlert()') Add Alert
      // end Alert
      // Well
      section.panel.panel-default
        .panel-heading
          span.glyphicon.glyphicon-th
          |  Well
        .panel-body
          .well.well-sm Look, I&apos;m in a small well!
          .well Look, I&apos;m in a well!
          .well.well-lg Look, I&apos;m in a large well!
      // end Well
      // Scrollable Box
      .panel.panel-default
        .panel-heading
          span.glyphicon.glyphicon-th
          |  Scrollable Box
        .panel-body
          .row
            .col-md-6
              .panel.panel-default
                .panel-heading
                  span.glyphicon.glyphicon-th
                  |  Scrollable Box
                .panel-body.ui-map(data-slim-scroll='', data-scroll-height='200px')
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, tenetur, repellat obcaecati unde esse doloribus accusamus exercitationem vitae corporis blanditiis aspernatur quibusdam porro rerum voluptatum quos eligendi necessitatibus enim! Maiores, doloribus, fuga, perspiciatis cupiditate aperiam repellendus natus nisi recusandae rerum optio consectetur nemo reprehenderit nesciunt molestiae at. Molestiae, nesciunt inventore dignissimos itaque exercitationem vero aliquam provident aperiam repudiandae nostrum. Ipsa, possimus, natus culpa magni rem iusto ut quisquam cupiditate aspernatur nemo sed aliquam quam illum illo quos dolor animi ipsum dolorem sunt beatae officia facere voluptatem omnis! Sapiente, illo voluptatibus amet omnis optio labore nesciunt porro facere praesentium laudantium molestiae voluptas eos incidunt quod nulla. Provident, debitis, odit qui ab facere adipisci laborum ea necessitatibus sapiente voluptatibus minima inventore veritatis unde nemo ipsa quisquam dolorum autem et minus repudiandae nostrum aliquam numquam aperiam similique vero delectus maiores non aliquid laboriosam eius impedit cum vel a corporis consequuntur natus earum suscipit. Repellat, laborum, cupiditate aperiam distinctio vero dolor est quibusdam sit rerum expedita tempore reiciendis quidem quisquam deserunt autem pariatur eos fugiat qui hic temporibus ullam dicta voluptatem sequi at iusto! Accusamus, iure, optio temporibus molestiae ab dolor blanditiis veritatis corporis eius reiciendis sed molestias obcaecati dolorem similique rerum illo excepturi.
            .col-md-6
              .panel.panel-default
                .panel-body.ui-map(data-slim-scroll='', data-scroll-height='240px')
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, tenetur, repellat obcaecati unde esse doloribus accusamus exercitationem vitae corporis blanditiis aspernatur quibusdam porro rerum voluptatum quos eligendi necessitatibus enim! Maiores, doloribus, fuga, perspiciatis cupiditate aperiam repellendus natus nisi recusandae rerum optio consectetur nemo reprehenderit nesciunt molestiae at. Molestiae, nesciunt inventore dignissimos itaque exercitationem vero aliquam provident aperiam repudiandae nostrum. Ipsa, possimus, natus culpa magni rem iusto ut quisquam cupiditate aspernatur nemo sed aliquam quam illum illo quos dolor animi ipsum dolorem sunt beatae officia facere voluptatem omnis! Sapiente, illo voluptatibus amet omnis optio labore nesciunt porro facere praesentium laudantium molestiae voluptas eos incidunt quod nulla. Provident, debitis, odit qui ab facere adipisci laborum ea necessitatibus sapiente voluptatibus minima inventore veritatis unde nemo ipsa quisquam dolorum autem et minus repudiandae nostrum aliquam numquam aperiam similique vero delectus maiores non aliquid laboriosam eius impedit cum vel a corporis consequuntur natus earum suscipit. Repellat, laborum, cupiditate aperiam distinctio vero dolor est quibusdam sit rerum expedita tempore reiciendis quidem quisquam deserunt autem pariatur eos fugiat qui hic temporibus ullam dicta voluptatem sequi at iusto! Accusamus, iure, optio temporibus molestiae ab dolor blanditiis veritatis corporis eius reiciendis sed molestias obcaecati dolorem similique rerum illo excepturi.
      // end Scrollable Box
