html
  body
    .page.page-grid
      .panel.panel-default
        .panel-heading
          strong
            span.glyphicon.glyphicon-th
            |  Grid options
        .panel-body
          table.table.table-bordered.table-striped
            thead
              tr
                th
                th
                  | Extra small devices
                  small Phones (&lt;768px)
                th
                  | Small devices
                  small Tablets (&ge;768px)
                th
                  | Medium devices
                  small Desktops (&ge;992px)
                th
                  | Large devices
                  small Desktops (&ge;1200px)
            tbody
              tr
                th Grid behavior
                td Horizontal at all times
                td(colspan='3') Collapsed to start, horizontal above breakpoints
              tr
                th Max container width
                td None (auto)
                td 750px
                td 970px
                td 1170px
              tr
                th Class prefix
                td
                  code .col-xs-
                td
                  code .col-sm-
                td
                  code .col-md-
                td
                  code .col-lg-
              tr
                th # of columns
                td(colspan='4') 12
              tr
                th Max column width
                td.text-muted Auto
                td 60px
                td 78px
                td 95px
              tr
                th Gutter width
                td(colspan='4') 30px (15px on each side of a column)
              tr
                th Nestable
                td(colspan='4') Yes
              tr
                th Offsets
                td.text-muted(colspan='1') N/A
                td(colspan='3') Yes
              tr
                th Column ordering
                td.text-muted N/A
                td(colspan='3') Yes
      .panel.panel-default
        .panel-heading
          strong
            span.glyphicon.glyphicon-th
            |  Example Grid
        .panel-body
          .grid-structure
            .row
              .col-md-12
                .widget-container
                  | col-md-12
            .row
              .col-md-11
                .widget-container
                  | col-md-11
              .col-md-1
                .widget-container
                  | col-md-1
            .row
              .col-md-10
                .widget-container
                  | col-md-10
              .col-md-2
                .widget-container
                  | col-md-2
            .row
              .col-md-9
                .widget-container
                  | col-md-9
              .col-md-3
                .widget-container
                  | col-md-3
            .row
              .col-md-8
                .widget-container
                  | col-md-8
              .col-md-4
                .widget-container
                  | col-md-4
            .row
              .col-md-7
                .widget-container
                  | col-md-7
              .col-md-5
                .widget-container
                  | col-md-5
            .row
              .col-md-6
                .widget-container
                  | col-md-6
              .col-md-6
                .widget-container
                  | col-md-6
            .row
              .col-md-5
                .widget-container
                  | col-md-5
              .col-md-7
                .widget-container
                  | col-md-7
            .row
              .col-md-4
                .widget-container
                  | col-md-4
              .col-md-8
                .widget-container
                  | col-md-8
            .row
              .col-md-3
                .widget-container
                  | col-md-3
              .col-md-9
                .widget-container
                  | col-md-9
            .row
              .col-md-2
                .widget-container
                  | col-md-2
              .col-md-10
                .widget-container
                  | col-md-10
            .row
              .col-md-1
                .widget-container
                  | col-md-1
              .col-md-11
                .widget-container
                  | col-md-11
            .row
              .col-md-2
                .widget-container
                  | col-md-2
              .col-md-3
                .widget-container
                  | col-md-3
              .col-md-4
                .widget-container
                  | col-md-4
              .col-md-2
                .widget-container
                  | col-md-2
              .col-md-1
                .widget-container
                  | col-md-1
