html
  body
    .page
      .divider.divider-lg
      .row
        .col-md-3.col-xsm-6
          section.pricing-table.pricing-table-success
            header Free
            .pricing-body
              .pricing-price
                em $ 
                |                         0
                sup .00
                sub /month
              ul
                li
                  strong No
                  |  Support
                li
                  strong 1
                  |  Website
                li
                  strong 10GB
                  |  Disk Space
                li
                  strong 3
                  |  Database
                li
                  strong 1
                  |  Email Address
            footer
              a(href='javascript:;')
                i.fa.fa-angle-double-right
                span Get it now
        .col-md-3.col-xsm-6
          section.pricing-table.pricing-table-info
            header Basic
            .pricing-body
              .pricing-price
                em $ 
                |                         29
                sup .00
                sub /month
              ul
                li
                  strong 24/7
                  |  Support
                li
                  strong 1
                  |  Website
                li
                  strong 100GB
                  |  Disk Space
                li
                  strong 10
                  |  Database
                li
                  strong 10
                  |  Email Address
            footer
              a(href='javascript:;')
                i.fa.fa-angle-double-right
                span Get it now
        .col-md-3.col-xsm-6
          section.pricing-table.pricing-table-warning
            header STANDARD
            .pricing-body
              .pricing-price
                em $ 
                |                         39
                sup .00
                sub /month
              ul
                li
                  strong 24/7
                  |  Support
                li
                  strong Unlimited
                  |  Website
                li
                  strong 500GB
                  |  Disk Space
                li
                  strong 25
                  |  Database
                li
                  strong 50
                  |  Email Address
            footer
              a(href='javascript:;')
                i.fa.fa-angle-double-right
                span Get it now
        .col-md-3.col-xsm-6
          section.pricing-table.pricing-table-danger
            header ULTIMATE
            .pricing-body
              .pricing-price
                em $ 
                |                         99
                sup .00
                sub /month
              ul
                li
                  strong 24/7
                  |  Support
                li
                  strong Unlimited
                  |  Website
                li
                  strong Unlimited
                  |  Disk Space
                li
                  strong Unlimited
                  |  Database
                li
                  strong 100
                  |  Email Address
            footer
              a(href='javascript:;')
                i.fa.fa-angle-double-right
                span Get it now
