html
  body
    .page
      .panel.panel-default
        .panel-heading
          strong
            span.glyphicon.glyphicon-th
            |  Headings
        .panel-body.text-center
          .row
            .col-md-6
              h1
                | h1. Bootstrap heading 
                small Secondary text
              h2
                | h2. Bootstrap heading 
                small Secondary text
              h3
                | h3. Bootstrap heading 
                small Secondary text
              h4
                | h4. Bootstrap heading 
                small Secondary text
              h5
                | h5. Bootstrap heading 
                small Secondary text
              h6
                | h6. Bootstrap heading 
                small Secondary text
            .col-md-6
              h1.text-thin
                | h1. Bootstrap heading 
                small Secondary text
              h2.text-thin
                | h2. Bootstrap heading 
                small Secondary text
              h3.text-thin
                | h3. Bootstrap heading 
                small Secondary text
              h4.text-thin
                | h4. Bootstrap heading 
                small Secondary text
              h5.text-thin
                | h5. Bootstrap heading 
                small Secondary text
              h6.text-thin
                | h6. Bootstrap heading 
                small Secondary text
      .panel.panel-default
        .panel-heading
          strong
            span.glyphicon.glyphicon-th
            |  Body
        .panel-body
          h5.text-center Lead body
          p.lead
            | Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
          .row
            .col-sm-6
              h5.text-center Emphasis
              p
                strong Bold
              p
                | The following snippet of text is 
                strong rendered as bold text
                | .
              p
                strong Italics
              p
                | The following snippet of text is 
                em rendered as italicized text
                | .
              p
                strong Small text
              small This line of text is meant to be treated as fine print.
            .col-sm-6
              h5.text-center Emphasis classes
              p.text-muted Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.
              p.text-primary Nullam id dolor id nibh ultricies vehicula ut id elit.
              p.text-success Duis mollis, est non commodo luctus, nisi erat porttitor ligula.
              p.text-info Maecenas sed diam eget risus varius blandit sit amet non magna.
              p.text-warning Etiam porta sem malesuada magna mollis euismod.
              p.text-danger Donec ullamcorper nulla non metus auctor fringilla.
          h5.text-center Alignment classes
          p.text-left Left aligned text.
          p.text-center Center aligned text.
          p.text-right Right aligned text.
      .panel.panel-default
        .panel-heading
          strong
            span.glyphicon.glyphicon-th
            |  Blockquote
        .panel-body
          h5.text-center Left
          blockquote
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, ducimus, provident, accusantium quasi sapiente ad eaque delectus dolores hic praesentium inventore pariatur ipsa neque excepturi enim aliquid rerum dolore nostrum.
            small Someone famous
          h5.text-center Right
          blockquote.pull-right
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, ducimus, provident, accusantium quasi sapiente ad eaque delectus dolores hic praesentium inventore pariatur ipsa neque excepturi enim aliquid rerum dolore nostrum.
            small Someone famous
      .panel.panel-default
        .panel-heading
          strong
            span.glyphicon.glyphicon-th
            |  Dropcap
        .panel-body
          h5.text-center Normal
          p
            span.dropcap L
            | orem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, illo, iste itaque voluptas corrupti ratione reprehenderit magni similique? Tempore, quos delectus asperiores libero voluptas quod perferendis! Voluptate, quod illo rerum? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, ipsa, in, laboriosam, dignissimos nobis quaerat vitae a facere esse neque laudantium nisi atque quos assumenda magni quae architecto fugiat libero.
          h5.text-center Square
          p
            span.dropcap-square D
            | orem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, illo, iste itaque voluptas corrupti ratione reprehenderit magni similique? Tempore, quos delectus asperiores libero voluptas quod perferendis! Voluptate, quod illo rerum? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, ipsa, in, laboriosam, dignissimos nobis quaerat vitae a facere esse neque laudantium nisi atque quos assumenda magni quae architecto fugiat libero.
          h5.text-center Circle
          p
            span.dropcap-circle E
            | orem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, illo, iste itaque voluptas corrupti ratione reprehenderit magni similique? Tempore, quos delectus asperiores libero voluptas quod perferendis! Voluptate, quod illo rerum? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, ipsa, in, laboriosam, dignissimos nobis quaerat vitae a facere esse neque laudantium nisi atque quos assumenda magni quae architecto fugiat libero.
          h5.text-center Normal Colored
          p
            span.dropcap.colored L
            | orem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, illo, iste itaque voluptas corrupti ratione reprehenderit magni similique? Tempore, quos delectus asperiores libero voluptas quod perferendis! Voluptate, quod illo rerum? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, ipsa, in, laboriosam, dignissimos nobis quaerat vitae a facere esse neque laudantium nisi atque quos assumenda magni quae architecto fugiat libero.
          h5.text-center Square
          p
            span.dropcap-square.colored D
            | orem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, illo, iste itaque voluptas corrupti ratione reprehenderit magni similique? Tempore, quos delectus asperiores libero voluptas quod perferendis! Voluptate, quod illo rerum? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, ipsa, in, laboriosam, dignissimos nobis quaerat vitae a facere esse neque laudantium nisi atque quos assumenda magni quae architecto fugiat libero.
          h5.text-center Circle
          p
            span.dropcap-circle.colored E
            | orem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, illo, iste itaque voluptas corrupti ratione reprehenderit magni similique? Tempore, quos delectus asperiores libero voluptas quod perferendis! Voluptate, quod illo rerum? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, ipsa, in, laboriosam, dignissimos nobis quaerat vitae a facere esse neque laudantium nisi atque quos assumenda magni quae architecto fugiat libero.
      .panel.panel-default
        .panel-heading
          strong
            span.glyphicon.glyphicon-th
            |  Hightlights
        .panel-body
          p
            | Opsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, quam, soluta, quia mollitia sequi voluptas magnam perspiciatis deleniti 
            span.highlight ratione ad molestias eum minima sed
            |  libero enim laborum sunt vel porro. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, voluptas, placeat provident impedit
            strong  maiores
            |  odio doloribus corrupti exercitationem veritatis ipsum ipsam adipisci quis consequatur assumenda rerum corporis possimus ad architecto
      .panel.panel-default
        .panel-heading
          strong
            span.glyphicon.glyphicon-th
            |  Lists
        .panel-body
          .row
            .col-md-6
              h5.text-center Unordered
              ul
                li Lorem ipsum dolor sit amet
                li Consectetur adipiscing elit
                li Integer molestie lorem at massa
                li Facilisis in pretium nisl aliquet
                li
                  | Nulla volutpat aliquam velit
                  ul
                    li Phasellus iaculis neque
                    li Purus sodales ultricies
                    li Vestibulum laoreet porttitor sem
                    li Ac tristique libero volutpat at
                li Faucibus porta lacus fringilla vel
                li Aenean sit amet erat nunc
                li Eget porttitor lorem
              h5.text-center Unstyled
              ul.list-unstyled
                li Integer molestie lorem at massa
                li Facilisis in pretium nisl aliquet
                li
                  | Nulla volutpat aliquam velit
                  ul
                    li Phasellus iaculis neque
                    li Purus sodales ultricies
                    li Vestibulum laoreet porttitor sem
                    li Ac tristique libero volutpat at
                li Faucibus porta lacus fringilla vel
                li Aenean sit amet erat nunc
                li Eget porttitor lorem
              h5.text-center Inline
              ul.list-inline
                li Lorem ipsum
                li Phasellus iaculis
                li Nulla volutpat
            .col-md-6
              h5.text-center ordered
              ol
                li Lorem ipsum dolor sit amet
                li Consectetur adipiscing elit
                li Integer molestie lorem at massa
                li Facilisis in pretium nisl aliquet
                li
                  | Nulla volutpat aliquam velit
                  ol
                    li Phasellus iaculis neque
                    li Purus sodales ultricies
                    li Vestibulum laoreet porttitor sem
                    li Ac tristique libero volutpat at
                li Faucibus porta lacus fringilla vel
                li Aenean sit amet erat nunc
                li Eget porttitor lorem
              h5.text-center Description
              dl
                dt Description lists
                dd A description list is perfect for defining terms.
                dt Euismod
                dd Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
                dd Donec id elit non mi porta gravida at eget metus.
              h5.text-center Horizontal description
              dl.dl-horizontal
                dt Description lists
                dd A description list is perfect for defining terms.
                dd Donec id elit non mi porta gravida at eget metus.
                dt Malesuada porta
                dd Etiam porta sem malesuada magna mollis euismod.
                dt Felis euismod semper eget lacinia
                dd
                  | Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
