html
  body
    .page.page-dashboard(data-ng-controller='DashboardCtrl')
      .panel.panel-default
        .panel-heading
          strong
            span.glyphicon.glyphicon-th
            span(data-i18n='Data')
        .panel-body(data-ng-controller='flotChartCtrl')
          div(data-flot-chart='', data-data='line1.data', data-options='line1.options', style='width: 100%; height: 300px;')
      // stats
      .row
        .col-lg-3.col-xsm-6
          .panel.mini-box
            span.box-icon.bg-success
              i.fa.fa-rocket
            .box-info
              p.size-h2
                | 25 
                span.size-h4 %
              p.text-muted
                span(data-i18n='Growth')
        .col-lg-3.col-xsm-6
          .panel.mini-box
            span.box-icon.bg-info
              i.fa.fa-users
            .box-info
              p.size-h2 112
              p.text-muted
                span(data-i18n='New users')
        .col-lg-3.col-xsm-6
          .panel.mini-box
            span.box-icon.bg-warning
              i.fa.fa-dollar
            .box-info
              p.size-h2 4,550
              p.text-muted
                span(data-i18n='Profit')
        .col-lg-3.col-xsm-6
          .panel.mini-box
            span.box-icon.bg-danger
              i.fa.fa-shopping-cart
            .box-info
              p.size-h2 262
              p.text-muted
                span(data-i18n='Sales')
      // end stats
      .row
        .col-md-8
          section.panel.panel-default
            .panel-heading
              strong
                span.glyphicon.glyphicon-th
                span(data-i18n='Map')
            .panel-body(data-ng-controller='jqvmapCtrl')
              .ui-map(ui-jqvmap='', options='worldMap')
        .col-md-4
          .panel.panel-default
            .panel-heading
              h3.panel-title Realtime Chart
            .panel-body(data-ng-controller='flotChartCtrl.realtime')
              div(data-flot-chart-realtime='', data-type='realtime', style='width: 100%; height: 400px;')
      .panel.panel-default
        .panel-heading
          strong
            span.glyphicon.glyphicon-th
            |  Table
        table.table
          thead
            tr
              th #
              th Project
              th Status
              th Manager
              th Progress
          tbody
            tr
              td 1
              td
                span.color-success
                  i.fa.fa-level-up
                |  TWLT
              td
                span.label.label-info Pending
              td Amery Lee
              td
                progressbar.progressbar-xs.no-margin(value='55')
            tr
              td 2
              td
                span.color-success
                  i.fa.fa-level-up
                |  A16Z
              td
                span.label.label-primary Due
              td Romayne Carlyn
              td
                progressbar.progressbar-xs.no-margin(value='34', type='success')
            tr
              td 3
              td
                span.color-warning
                  i.fa.fa-level-down
                |  DARK
              td
                span.label.label-success Due
              td Marybeth Joanna
              td
                progressbar.progressbar-xs.no-margin(value='68', type='info')
            tr
              td 4
              td
                span.color-info
                  i.fa.fa-level-up
                |  Q300
              td
                span.label.label-danger Blocked
              td Jonah Benny
              td
                progressbar.progressbar-xs.no-margin(value='52', type='warning')
            tr
              td 5
              td
                span.color-danger
                  i.fa.fa-level-down
                |  RVNG
              td
                span.label.label-warning Suspended
              td Daly Royle
              td
                progressbar.progressbar-xs.no-margin(value='77', type='danger')
            tr
              td 6
              td
                span.color-info
                  i.fa.fa-level-down
                |  FDSA
              td
                span.label.label-info Suspended
              td Jane Swift
              td
                progressbar.progressbar-xs.no-margin(value='55', type='success')
