html
  body
    .page.page-about
      .page-container
        .intro
          h2
            strong Little
            |  about us
          p.lead
            | Vero porro nulla culpa hic accusantium iste sequi error fugiat nesciunt commodi at distinctio. Dolorum, numquam in iusto corporis veritatis nulla! Nulla blanditiis vel quos impedit voluptates iste repellendus.
        .row.stat-container
          .col-sm-4
            section.stat-item
              span.stat-num 18
              span.stat-desc Years Experience
          .col-sm-4
            section.stat-item
              span.stat-num 369
              span.stat-desc Satisfied Clients
          .col-sm-4
            section.stat-item
              span.stat-num 211
              span.stat-desc Kinds of Products
        .row.info-container
          .col-md-6
            h2
              strong Who
              |  We are?
            p.lead
              | Consectetur adipisicing elit. Molestias,  quaerat facilis rem aut sunt iusto deleniti fugiat dolor culpa aliquam quasi.
            p.desc
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, doloribus, debitis accusantium beatae a aspernatur esse fugit laboriosam cumque minus quia consequuntur error commodi cum consectetur ea officia eveniet reprehenderit quas nesciunt. Reprehenderit voluptatem tempore architecto quidem nobis saepe neque.
            a.btn.btn-line-primary.btn-w-md(href='javascript:;') Join Us
          .col-md-6
            h2
              strong What
              |  do We do?
            p.lead
              | Vero, praesentium perspiciatis, ratione, nisi, reiciendis illo est veniam! Provident nihil eius velit labore odio earum quos in.
            p.desc
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, doloribus, debitis accusantium beatae a aspernatur esse fugit laboriosam cumque minus quia consequuntur error commodi cum consectetur ea officia eveniet reprehenderit quas nesciunt. Reprehenderit voluptatem tempore architecto quidem nobis saepe neque.
            a.btn.btn-line-primary.btn-w-md(href='javascript:;') Contact Us!
