html
  body
    .page
      section.panel.panel-default
        .panel-heading
          strong
            span.glyphicon.glyphicon-th
            |  Blank Page
        .panel-body
          p Content goes here
