html
  body
    .page.page-services
      .page-container
        header
          h2
            strong Services
            |  we provide
          p.lead
            | Adipisci ipsam nesciunt ullam reprehenderit quidem consequuntur excepturi obcaecati quae aut.
        section.services-container
          .row
            .col-md-6
              article.service-item.clearfix
                a.service-icon.btn.btn-info.btn-metro(href='javascript:;')
                  i.fa.fa-pencil
                .servie-desc
                  h4 Web Design
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, voluptatibus, non nobis reprehenderit accusantium dolorem possimus at sed quidem maiores officiis dignissimos quis amet aut dolor recusandae nihil! Aperiam, fugiat.
            .col-md-6
              article.service-item.clearfix
                a.service-icon.btn.btn-info-alt.btn-metro(href='javascript:;')
                  i.fa.fa-camera
                .servie-desc
                  h4 Photography
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, voluptatibus, non nobis reprehenderit accusantium dolorem possimus at sed quidem maiores officiis dignissimos quis amet aut dolor recusandae nihil! Aperiam, fugiat.
          .row
            .col-md-6
              article.service-item.clearfix
                a.service-icon.btn.btn-success.btn-metro(href='javascript:;')
                  i.fa.fa-code
                h4 Development
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, voluptatibus, non nobis reprehenderit accusantium dolorem possimus at sed quidem maiores officiis dignissimos quis amet aut dolor recusandae nihil! Aperiam, fugiat.
            .col-md-6
              article.service-item.clearfix
                a.service-icon.btn.btn-warning.btn-metro(href='javascript:;')
                  i.fa.fa-mobile-phone
                h4 Mobile App
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, voluptatibus, non nobis reprehenderit accusantium dolorem possimus at sed quidem maiores officiis dignissimos quis amet aut dolor recusandae nihil! Aperiam, fugiat.
          .row
            .col-md-6
              article.service-item.clearfix
                a.service-icon.btn.btn-danger.btn-metro(href='javascript:;')
                  i.fa.fa-laptop
                h4 Website
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, voluptatibus, non nobis reprehenderit accusantium dolorem possimus at sed quidem maiores officiis dignissimos quis amet aut dolor recusandae nihil! Aperiam, fugiat.
            .col-md-6
              article.service-item.clearfix
                a.service-icon.btn.btn-primary.btn-metro(href='javascript:;')
                  i.fa.fa-globe
                h4 Marketing
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, voluptatibus, non nobis reprehenderit accusantium dolorem possimus at sed quidem maiores officiis dignissimos quis amet aut dolor recusandae nihil! Aperiam, fugiat.
