html
  body
    .page
      .row
        .col-md-6
          section.panel.panel-default
            .panel-heading
              strong
                span.glyphicon.glyphicon-th
                |  Basic Form
            .panel-body
              form(role='form')
                .form-group
                  label(for='exampleInputEmail1') Email address
                  input#exampleInputEmail1.form-control(type='email', placeholder='Enter email')
                .form-group
                  label(for='exampleInputPassword1') Password
                  input#exampleInputPassword1.form-control(type='password', placeholder='Password')
                .checkbox
                  label
                    input(type='checkbox')
                    |  Check me out
                button.btn.btn-primary(type='submit') Submit
        .col-md-6
          section.panel.panel-default
            .panel-heading
              strong
                span.glyphicon.glyphicon-th
                |  Horizontal Form
            .panel-body
              form.form-horizontal(role='form')
                .form-group
                  label.col-sm-2.control-label(for='inputEmail3') Email
                  .col-sm-10
                    input#inputEmail3.form-control(type='email', placeholder='Email')
                .form-group
                  label.col-sm-2.control-label(for='inputPassword3') Password
                  .col-sm-10
                    input#inputPassword3.form-control(type='password', placeholder='Password')
                .form-group
                  .col-sm-offset-2.col-sm-10
                    .checkbox
                      label
                        input(type='checkbox')
                        |  Remember me
                .form-group
                  .col-sm-offset-2.col-sm-10
                    button.btn.btn-success(type='submit') Sign in
      section.panel.panel-default
        .panel-heading
          strong
            span.glyphicon.glyphicon-th
            |  Inline Form
        .panel-body
          form.form-inline(role='form')
            .form-group
              label.sr-only(for='exampleInputEmail2') Email address
              input#exampleInputEmail2.form-control(type='email', placeholder='Enter email')
            .form-group
              label.sr-only(for='exampleInputPassword2') Password
              input#exampleInputPassword2.form-control(type='password', placeholder='Password')
            .checkbox
              label
                input(type='checkbox')
                |  Remember me
            button.btn.btn-info(type='submit') Sign in
      section.panel.panel-default
        .panel-heading
          strong
            span.glyphicon.glyphicon-th
            |  Column sizing
        .panel-body
          .form-group
            .row
              .col-sm-1
                input.form-control.col-sm-1(type='text', placeholder='col-sm-1')
              .col-sm-11
                input.form-control.col-sm-11(type='text', placeholder='col-sm-11')
            .divider
            .row
              .col-sm-2
                input.form-control.col-sm-2(type='text', placeholder='col-sm-2')
              .col-sm-10
                input.form-control.col-sm-10(type='text', placeholder='col-sm-10')
            .divider
            .row
              .col-sm-3
                input.form-control.col-sm-3(type='text', placeholder='col-sm-3')
              .col-sm-9
                input.form-control.col-sm-9(type='text', placeholder='col-sm-9')
            .divider
            .row
              .col-sm-4
                input.form-control.col-sm-4(type='text', placeholder='col-sm-4')
              .col-sm-8
                input.form-control.col-sm-8(type='text', placeholder='col-sm-8')
            .divider
            .row
              .col-sm-5
                input.form-control.col-sm-5(type='text', placeholder='col-sm-5')
              .col-sm-7
                input.form-control.col-sm-7(type='text', placeholder='col-sm-7')
            .divider
            .row
              .col-sm-6
                input.form-control.col-sm-6(type='text', placeholder='col-sm-6')
              .col-sm-6
                input.form-control.col-sm-6(type='text', placeholder='col-sm-6')
            .divider
            .row
              .col-sm-7
                input.form-control.col-sm-7(type='text', placeholder='col-sm-7')
              .col-sm-5
                input.form-control.col-sm-5(type='text', placeholder='col-sm-5')
            .divider
            .row
              .col-sm-8
                input.form-control.col-sm-8(type='text', placeholder='col-sm-8')
              .col-sm-4
                input.form-control.col-sm-4(type='text', placeholder='col-sm-4')
            .divider
            .row
              .col-sm-9
                input.form-control.col-sm-9(type='text', placeholder='col-sm-9')
              .col-sm-3
                input.form-control.col-sm-3(type='text', placeholder='col-sm-3')
            .divider
            .row
              .col-sm-10
                input.form-control.col-sm-10(type='text', placeholder='col-sm-10')
              .col-sm-2
                input.form-control.col-sm-2(type='text', placeholder='col-sm-2')
            .divider
            .row
              .col-sm-11
                input.form-control.col-sm-11(type='text', placeholder='col-sm-11')
              .col-sm-1
                input.form-control.col-sm-1(type='text', placeholder='col-sm-1')
            .divider
